<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <img style="height: 200px" src="laflogo.svg" alt="Lost and Found">
        <p class="subtitle">
          Welcome to <strong>Lost&Found</strong>, a distributed service where you can report lost or found items.
        </p>
        
      </div>
    </section>
    <div class="columns">
      <div class="column">
          <a href="reportform.html"><button class="button is-large">Report a Lost or Found Item</button></a>
      </div>
    </div>

    <div id="map"></div>
    <script>

      //there will be a JSON directory inside laf

      var myPin1 =  { "title":"Blue Backpack", "imagepath":"https://cdn1.static-tgdp.com/ui/productimages/approved/std.lang.all/40/96/634096_sized_1800x1200_rev_1.jpg", "phone": 2032199159, "desc": "blue backpack, lost in the big Sayles hall at Brown University", "lost": true, "lat": 41.826771, "lng": -71.402550};
      var myPin2 = { "title":"Water Bottle", "imagepath":"https://eu.radleylondon.com/media/catalog/product/cache/4/image/1300x/9df78eab33525d08d6e5fb8d27136e95/g/1/g1838464.jpg", "phone": 4079522117, "desc": "Water bottle found in the Brown Chapel", "lost": true, "lat": 41.8267669, "lng": -71.4033895};
      var myPin3 = { "title":"Mac Laptop", "imagepath":"https://sixcolors.com/images/content/2017/macbook-6c.jpg", "phone": 4032194432, "desc": "Mac laptop lost in Jameson dormitory. I think I lost it in the 3rd floor lounge.", "lost": true, "lat": 41.8239891, "lng": -71.403945};
      var myPin4 = { "title":"Brown wallet", "imagepath":"https://www.maruse-italy.com/pub/media/catalog/product/cache/57065f9ad685a96f03d5064a860ee112/l/e/leather_wallet_501.jpg", "phone": 1294828842, "desc": "I lost my wallet yesterday in the dining hall. It has my driver's license in it, as well as some sentimental items. Thank you for your help!", "lost": true, "lat": 41.8306, "lng": -71.4024};
//txtbk

      //var map;
      function initMap() {
        var myLoc = {lat: 41.826771, lng: -71.402550};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLoc
        });

        var contentString1 = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><b>' + myPin1.title + '</b></h1>'+
            '<img style="padding: 10px; height:200px;" src="' + myPin1.imagepath + '">' +
            '<div id="bodyContent">'+
            '<p><b>Description: </b>' + myPin1.desc + '</p>'+
            '<p><b>Contact: </b>' + myPin1.phone + '</p>'+
            '</div>'+
            '</div>';

        var infowindow1 = new google.maps.InfoWindow({
          content: contentString1
        });

        pinLoc1 = {lat: myPin1.lat, lng: myPin1.lng};
        var marker1 = new google.maps.Marker({
          position: pinLoc1,
          map: map,
          title: myPin1.title,
          icon: {                             
            url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"                           }
        });

        marker1.addListener('click', function() {
          infowindow1.open(map, marker1);
        });

        var contentString2 = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><b>' + myPin2.title + '</b></h1>'+
            '<img style="padding: 10px; height:200px;" src="' + myPin2.imagepath + '">' +
            '<div id="bodyContent">'+
            '<p><b>Description: </b>' + myPin2.desc + '</p>'+
            '<p><b>Contact: </b>' + myPin2.phone + '</p>'+
            '</div>'+
            '</div>';

        var infowindow2 = new google.maps.InfoWindow({
          content: contentString2
        });

        pinLoc2 = {lat: myPin2.lat, lng: myPin2.lng};
        var marker2 = new google.maps.Marker({
          position: pinLoc2,
          map: map,
          title: myPin2.title,
          icon: {                             
            url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"                           }
        });

        marker2.addListener('click', function() {
          infowindow2.open(map, marker2);
        });


        var contentString3 = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><b>' + myPin3.title + '</b></h1>'+
            '<img style="padding: 10px; height:200px;" src="' + myPin3.imagepath + '">' +
            '<div id="bodyContent">'+
            '<p><b>Description: </b>' + myPin3.desc + '</p>'+
            '<p><b>Contact: </b>' + myPin3.phone + '</p>'+
            '</div>'+
            '</div>';

        var infowindow3 = new google.maps.InfoWindow({
          content: contentString3
        });

        pinLoc3 = {lat: myPin3.lat, lng: myPin3.lng};
        var marker3 = new google.maps.Marker({
          position: pinLoc3,
          map: map,
          title: myPin3.title,
          icon: {                             
            url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"                           }
        });

        marker3.addListener('click', function() {
          infowindow3.open(map, marker3);
        });

        var contentString4 = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"><b>' + myPin4.title + '</b></h1>'+
            '<img style="padding: 10px; height:200px;" src="' + myPin4.imagepath + '">' +
            '<div id="bodyContent">'+
            '<p><b>Description: </b>' + myPin4.desc + '</p>'+
            '<p><b>Contact: </b>' + myPin4.phone + '</p>'+
            '</div>'+
            '</div>';

        var infowindow4 = new google.maps.InfoWindow({
          content: contentString4
        });

        pinLoc4 = {lat: myPin4.lat, lng: myPin4.lng};
        var marker4 = new google.maps.Marker({
          position: pinLoc4,
          map: map,
          title: myPin4.title,
          icon: {                             
            url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"                           }
        });

        marker4.addListener('click', function() {
          infowindow4.open(map, marker4);
        });

        
    }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVIufF2ELJ1p4gJNx7kWANYnrOf_lTIYE&callback=initMap"
    async defer></script>
  </body>
</html>

<!-- API Key -->
<!-- AIzaSyBVIufF2ELJ1p4gJNx7kWANYnrOf_lTIYE -->
